@import "tailwindcss";

:root {
  --font-family-sans: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

html {
  font-family: var(--font-family-sans);
}

.font-sans {
  font-family: var(--font-open-sans), var(--font-family-sans);
}
